// Fuentes
$fuente_principal: 'Ubuntu', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$azul: #003d73;
$negro: #1a1b15;
$blanco: #FFFFFF;
$azulclaro: #0878a4;
$azulito: #1ecfd6;
$amarillo: #edd170;
$rojo: #c05640;

$separacion: 5rem;

// Fuentes

$delgada: 300;
$regular : 400;
$bold: 500;
$black: 700;